body {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5FAFF;
    width: 100%;
}
.green_big_circle {
    width: 50vw;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}
header{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 10vw;
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    
    .logo_pic{
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        background-image: url(/assets/all/Ellipse\ 75.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        p{
            margin: 0;
            font-size: 12px;
        }
    }
    .menu{
        position: absolute;
        z-index: 3;
        top:0;
        left: 15vw;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .phone{
                display: flex;
                width: 20vw;
                height: 5vh;
                border: 1px solid #dbdddf;
                border-radius: 4vh;
                font-size: 18px;
                justify-content: center;
                align-items: center;
                list-style: none;
                box-shadow: 5px lightgray;
                background-color: #F5FAFF;
                color:#64D370;
            }
            .list_main {
                    display: flex;
                    width: 45vw;
                    height: 5vh;
                    border: 1px solid #dbdddf;
                    border-radius: 4vh;
                    font-size: 14px;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    list-style: none;
                    box-shadow: 5px lightgray;
                    background-color: #F5FAFF;
            
                    li {
                        a {
                            color: black;
                            text-decoration: none;
            
                            &:hover,
                            &:active {
                                color: #64D370;
                            }
            
                        }
                    }
                }
        } 
        ul{
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            li{
                a{
                    color: black;
                    text-decoration: none;
                }
            }
            button{
                background-color: #F5FAFF;
                width: 35px;
                height: 35px;
                border: 1px solid #F5FAFF;
                border-radius: 20px;
                box-shadow: 5px 3px 5px 5px lightgray;
                &:hover, &:active{
                    background-color: #64D370;
                }
            }
        }
    }
}
.chat{
    position: absolute;
    top: 65vh;
    left: 80vw;
    width: 14vw;
    height: 12vh;
    font-size: 12px;
    .text{
        width: 100%;
        height: 50%;
        background-image: url(/assets/all/chat/Union.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center{
        width: 100%;
        height: 40%;
    }
    .icons{
        width: 100%;
        height: 30%;
        img{
            height: 30px;
            width: 30px;
        }
    }
}
nav{
    height: 60vh;
    position: absolute;
    top: 7vh; left: 1vw;
    ul{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        li {
            button{
                display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 70px;
                    background-color: #F5FAFF;
                    border: 1px #F5FAFF;
                    border-radius: 40px;
                    box-shadow: 7px 7px 10px 7px lightgray;
            }
            
        }
    }
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    .green_icons{
        margin-bottom: 4vh;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items:  center ;
        ul{
            width: 80%;
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            font-size: 12px;
            justify-content: space-around;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid (228, 234, 238, 0.3) ;
            border-radius: 4vh;
            li{
                width: 15%;
                height: 80%;

            }
        }
    }
    .table_programs{
        margin-bottom: 8vh;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .top_block{
            width: 80%;
            height: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            button{
                height: 100%;
                width: 45%;
                font-size: 25px;
                &:first-of-type{
                    background-color: #64D370;
                    border: 1px solid #64D370;
                    border-radius: 3vh;
                    color: white
                }
                &:last-of-type {
                    background-color: #DEE6EE;
                    border: 1px solid #DEE6EE;
                    border-radius: 3vh;
                    color: black
                }
            }
        }
        .bottom_ul{
            width: 80%;
            height: 15%;
            text-align: center;

            h4{
                text-transform:uppercase;
            }
        }
        .block_bottom{
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .tleft{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                table{
                    height: 40%;
                    width: 100%;
                    background-color: #F5FAFF;
                    box-shadow: 3px 3px 3px 3px lightgray;
                    border: 1px solid #F5FAFF;
                    border-radius: 2vh;
                }
                button{
                    width: 80%;
                    height: 5vh;
                    background-color: #64D370;
                    border: 1px solid #64D370;
                    border-radius: 3vh;
                    color: white;
                    font-size: 26px;
                }
                .par{
                    background-color: #64D370;
                    box-shadow: 3px 3px 3px 3px lightgray;
                    border: 1px solid #64D370;
                    border-radius: 2vh;
                    color: white;
                    height: 40%;
                }
            }
            .tright{
                width: 55%;
                table{
                    width: 100%;
                    background-color: #F5FAFF;
                    box-shadow: 3px 3px 3px 3px lightgray;
                    border: 1px solid #F5FAFF;
                    border-radius: 2vh;
                }
            }
        }
    }
    .kirill {
    
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Comfortaa;
        .main_img {
                height: 50vh;
                border: 20px solid white;
                border-radius: 30vh;
                margin-right: 3vw;
        }
        .kirill_t {
                width: 50vw;
                height: 90%;
                display: flex;
                justify-content: end;
                align-items: center;
            .kirill_texts {
                height: 40%;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h4 {
                    font-size: 25px;
                    margin: 0;
                }
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        background-color: #64D370;
                        border: 1px #64D370;
                        width: 280px;
                        height: 50px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                            color: white;
                            font-size: 22px;
                        }
                    }
    
                    div {
                        margin-left: 1vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
    
                        p {
                            margin: 2px;
                        }
    
                        .green {
                            color: #64D370;
                        }
                    }
                }
    
            
            }
    
        }
    }
    .dishes_menu {
            margin-top: 4vh;
            height: 52vh;
            width: 100vw;
            text-align: center;
    
            h2 {
                font-size: 42px;
                font-family: Comfortaa;
            }
    
            div {
                img {
                    height: 40vh;
                }
    
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 50vh;
                width: 100%;
            }
    }
    
    .questions {
            margin-top: 4vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 75vw;
            height: 60vh;
    
            .q_left {
                width: 40%;
                height: 90%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
    
                .q_text {
                    height: 20%;
    
                    h4 {
                        font-size: 30px;
                        font-family: Comfortaa;
                        margin: 0;
                    }
                }
    
                .form {
                    margin: 0;
                    width: 100%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    text-align: left;
    
                    .points {
                        height: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
    
                        .point {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                        }
                    }
    
                    div {
                        width: 100%;
    
                        .f_input {
                            background-color: #DEE6EE;
                            border-radius: 25px;
                            border: 1px #DEE6EE;
                            width: 90%;
                            height: 40px;
                        }
                    }
                }
    
                .q_buttons {
                    height: 20%;
    
                    button {
                        border-radius: 25px;
                        width: 15vw;
                        height: 4vh;
                        display: flex;
                        justify-self: end;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .button2 {
                        background-color: #64D370;
                        border: 1px #64D370;
    
                        p {
                            color: white;
                        }
                    }
    
                    .button1 {
                        background-color: white;
                        border: 2px #64D370 solid;
    
                        p {
                            color: #64D370;
                        }
                    }
                }
            }
    
            .q_right {
                text-align: center;
    
                h4 {
                    font-size: 25px;
                    font-family: Comfortaa;
                }
    
                width: 55%;
    
                ul {
                    padding: 0;
                    list-style: none;
                    height: 50vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    li {
                        text-align: left;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #F5FAFF;
                        box-shadow: 3px 3px 3px 3px gray;
                        border-radius: 10px;
                        height: 7%;
                        width: 100%;
                        font-size: 14px;
    
                        p {
                            margin-left: 5px;
                        }
    
                        img {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    footer {
            background-color: #F5FAFF;
            margin-top: 4vh;
            margin-bottom: 4vh;
            width: 100vw;
            height: 20vh;
            box-shadow: 10px 0 10px 0 gray;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
    
            .list1 {
                height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                list-style: none;
    
                a {
                    color: black;
                    text-decoration: none;
                }
            }
    
            .logo {
                text-align: center;
            }
    
            .list2 {
                height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: right;
                list-style: none;
    
                p {
                    color: #64D370;
                }
            }
    }
}


@font-face {
    font-family: Montserrat;
    src: url(/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(/Comfortaa/Comfortaa.ttf);
}